<%- include('partials/header'); -%>
    <div>
        <h1 class="heading">Enter any place and learn about it's weather</h1>
        <form action="/" method="post" class="center">
            <label for="CityName">City Name:</label>
            <input type="text" name="CityName" id="CityName">
            <button type="submit" class="hovering-button">Go</button>
        </form>
    </div>

<%- include('partials/footer'); -%>